.section-head {
    text-align: center;
    cursor: default;
    padding: 10px 0px;
    box-shadow: 0px 0px 2px white;
    transition: all 0.7s;
    border: 5px;
    border-color: darkcyan;
}

.section-head:hover {
    background-color: darkcyan;
}

.sh3 {
    background-color: dodgerblue;
}

.sh2 {
    background-color: aquamarine;
}

.sh1 {
    background-color: firebrick;
}